<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.core.mapper.CarMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.core.entity.Car">
            <id property="carId" column="car_id" jdbcType="VARCHAR"/>
            <result property="carNumber" column="car_number" jdbcType="CHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
            <result property="brand" column="brand" jdbcType="VARCHAR"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="color" column="color" jdbcType="CHAR"/>
            <result property="customId" column="custom_id" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        car_id,car_number,type,
        brand,model,color,
        custom_id
    </sql>
</mapper>
