<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.core.mapper.CustomMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.core.entity.Custom">
        <id property="customId" column="custom_id" jdbcType="BIGINT"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="regType" column="reg_type" jdbcType="TINYINT"/>
        <result property="job" column="job" jdbcType="TINYINT"/>
        <result property="regTime" column="reg_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="remakes" column="remakes" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        custom_id,real_name,nick_name,
        address,reg_type,job,
        reg_time,update_time,status,
        remakes
    </sql>
    <select id="getCustomList" resultType="com.ruoyi.core.entity.vo.CustomListVO">
        SELECT
            tc1.real_name AS realName,
            tw.sex AS sex,
            tw.signal_no AS signalNo,
            tc2.car_id AS carId,
            tw.mobile AS mobile,
            tc1.status AS status,
            tm.level AS level,
            ( SELECT sum( to1.price ) FROM t_order to1 WHERE tc1.custom_id = to1.custom_id  ) AS consumptionTotal,
            ( SELECT to1.create_time FROM t_order to1 WHERE tc1.custom_id = to1.custom_id ) AS lastConsumptionDate
        FROM
            washCar.t_custom tc1
            LEFT JOIN washCar.t_wechat tw ON tc1.custom_id = tw.custom_id
            LEFT JOIN washCar.t_car tc2 ON tc1.custom_id = tc2.custom_id
            LEFT JOIN washCar.t_order to1 ON tc1.custom_id = to1.custom_id
            LEFT JOIN washCar.t_custom_member tcm ON tc1.custom_id = tcm.custom_id
            LEFT JOIN washCar.t_member tm ON tcm.member_id = tm.member_id
        <where>
            <if test="realName != null and realName != ''">
                and tc1.real_name = #{realName}
            </if>
            <if test="sex != null and sex != ''">
                and tw.sex = #{sex}
            </if>
            <if test="carId != null and carId != ''">
                and tc2.car_id = #{carId}
            </if>
            <if test="mobile != null and mobile != ''">
                and tw.mobile = #{mobile}
            </if>
            <if test="status != null and status != ''">
                and tc1.status = #{status}
            </if>
            <if test="consumptionTotal != null and consumptionTotal != ''">
                and tc1.status = #{consumptionTotal}
            </if>
        </where>
    </select>
</mapper>
