<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.core.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.core.entity.Order">
            <id property="orderId" column="order_id" jdbcType="CHAR"/>
            <result property="payType" column="pay_type" jdbcType="TINYINT"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="orderState" column="order_state" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
            <result property="cancelTime" column="cancel_time" jdbcType="TIMESTAMP"/>
            <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="noteMessage" column="note_message" jdbcType="VARCHAR"/>
            <result property="customId" column="custom_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,pay_type,price,
        order_state,create_time,modify_time,
        cancel_time,pay_time,deleted,
        note_message,custom_id
    </sql>
</mapper>
