<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.core.mapper.WechatCustomMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.core.entity.WechatCustom">
            <id property="wechatOpenid" column="weChat_openId" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="wechatNumber" column="weChat_number" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="CHAR"/>
            <result property="customId" column="custom_id" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        weChat_openId,avatar,nick_name,
        weChat_number,phone,custom_id
    </sql>
</mapper>
